<main role="main" class="container">
  <div class="col-xs-6" id="sign-up-form">
    <div id="title">
      <h1>sign in</h1>
    </div>
    <div class="form-group" id="email-pword-form">
      <div class="col-xs-1" id="e-p">
        <input class="form-control" type="email" placeholder="email">
      </div>
      <div class="col-xs-1" id="e-p">
        <input class="form-control" type="password" placeholder="password">
      </div>
      <div class="col-xs-1" id="e-p">
        <a routerLink="/account"><input class="btn btn-primary" type="submit" value="log in"></a>
      </div>
      <div class="col-xs-1">
        <a routerLink="/home">create an account</a>
      </div>
    </div>
  </div>
</main>
