#sign-up-form {
  padding: 3rem 1.5rem;
  text-align: center;
  width: 60%;
  left: 42%;
  margin: auto;
}

#name-form{
  margin-bottom: 15px;
}

#fname {
  margin-left: auto;
  margin-right: 10px;
}

#lname {
  margin-right: auto;
}

#e-p {
  width: 458px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#home-display {
  width: 30%;
  text-align:center;
  margin:auto;
}

#h-image {
  padding-left: 15px;
  padding-right: 15px;
}

#h-text {
  margin-top: auto;
  margin-bottom: auto;
}

#d-row {
  margin-bottom: 20px;
}
