<app-navbar></app-navbar>
<!-- this is where i include the navbar component -->


<main role="main" class="container">

     <div class="starter-template" id="sign-up-form">

       <h1>sign up</h1>

       <div class="form-inline" id="name-form">
         <div class="form-group" id="fname">
           <input type="text" class="form-control" placeholder="first name">
         </div>
         <div class="form-group" id="lname">
           <input type="text" class="form-control" placeholder="last name">
         </div>
       </div>

       <div class="form-group" id="email-pword-form">
         <div class="form-group" id="e-p">
           <input class="form-control" type="email" placeholder="email">
         </div>
         <div class="form-group" id="e-p">
           <input class="form-control" type="password" placeholder="password">
         </div>
       </div>

       <p class="lead">pls hire.<br> I need a job.</p>

     </div>

</main>
