<app-navbar></app-navbar>
<!-- this is where i include the navbar component -->

<main role="main" class="container">
  <div class="row" id="hp">
    <div class="col-xs-6" id="home-display">
      <div class="row" id="d-row">
        <div class="col-xs-6" id="h-image">
          <i class="fa fa-list-alt fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-6" id="h-text">
          <h6>plan workouts</h6>
        </div>
      </div>
      <div class="row" id="d-row">
        <div class="col-xs-6" id="h-image">
          <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-6" id="h-text">
          <h6>track progress</h6>
        </div>
      </div>
      <div class="row" id="d1-row">
        <div class="col-xs-6" id="h-image">
          <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-6" id="h-text">
          <h6>share with friends</h6>
        </div>
      </div>
    </div>
    <div class="col-xs-6" id="sign-up-form">

       <h1>sign up</h1>

       <div class="form-inline" id="name-form">
         <div class="col-xs-6" id="fname">
           <input type="text" class="form-control" placeholder="first name">
         </div>
         <div class="col-xs-6" id="lname">
           <input type="text" class="form-control" placeholder="last name">
         </div>
       </div>

       <div class="form-group" id="email-pword-form">
         <div class="col-xs-1" id="e-p">
           <input class="form-control" type="email" placeholder="email">
         </div>
         <div class="col-xs-1" id="e-p">
           <input class="form-control" type="password" placeholder="password">
         </div>
       </div>

       <input class="btn btn-primary" type="submit" value="create account">

     </div>
   </div>
</main>
